.fixed-button-bottom {
  position: fixed;
  right: 23px;
  bottom: 23px;

}

.center-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center-block {
    margin: 0 auto;

}

.icon-container {
    margin: 0 auto;
    float: none;

}

.edit-form {
    display: none;
    /*height: 0;*/
    opacity: 0.25;
}


/*#task_1 > div.col.s6 > h5*/

.disabled > div > div > h5,
.disabled > div > div > p,
.disabled > div > div > span {
    text-decoration: line-through;
    color: grey;
}

.floating-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.complete-button, 
.edit-button {
    margin-top: 15px;
}

.image-logo {
    width: 40px;
    height: auto;
    /*line-height: 64px;*/
    top: 10px;
	position: absolute;
	left: -50px;
}

.inline-button {
    display: inline-block;
}

.floating-button-right, 
.floating-button-left {
    position: relative;
	top: 20px;
}

.floating-button-left {
	left: 10px;
}

.floating-button-right {
	right: 10px;
    top: -28px
}

.row-ring-style {
    border: rgba(255, 0, 0, 0.7) solid 10px;
	border-radius: 8px;
	padding: 20px 2px;
}

/*i.large {
    line-height: 100px;
	font-size: 6rem;
    text-align: center;
}*/

